# Expo public env vars (optional)
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=

# Backend API base URL
# - iPhone Expo Go (LAN): http://192.168.x.x:3000
# - Android emulator:     http://10.0.2.2:3000
# - Android device (LAN): http://192.168.x.x:3000
EXPO_PUBLIC_API_BASE_URL=
