PORT=3000
MONGODB_URI=mongodb+srv://user:voFHTxSA7xdefD7y@truyenchom.d7vxoqq.mongodb.net/comicDB?retryWrites=true&w=majority
JWT_EXPIRES_IN=7d
JWT_SECRET=secret_key
NODE_ENV=development
GEMINI_API_KEY=AIzaSyAYomqWunYFlHwyCzQUJCl3pDBIYSC3Aao
AI_MODEL=https://generativelanguage.googleapis.com/v1alpha/models/gemini-2.0-flash:generateContent
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=astersa2005@gmail.com
SMTP_PASS=vkituoopuzkkorez
EMAIL_FROM=astersa2005@gmail.com
